<header class="header-top">
    <div class="header__contacts">
        <p class="header__contact-mail">
            E-mail:
            <a class="header__contacts-link" href="mailto:fitb@email.com">fitb@email.com</a>
        </p>
        <p class="header__contact-phone">
            Phone:
            <a class="header__contacts-link" href="tel:+1(234)5678900">
                +1 (234) 567 89 00</a>
        </p>
    </div>
    <nav class="header__nav">
        <div class="header__burger-icon">
        </div>
        <div class="header__horizontal-bar">
            <a routerLink="/">Home</a>
            <a routerLink="/TodoList">TodoList</a>
            <a routerLink="/CompletedTask">Completed Tasks</a>
            <a routerLink="/Schedule">Schedule</a>
        </div>
    </nav>
</header>