<footer>
    <hr />
    <div class="footer">
        <div class="footer__fitb">
            <!-- <div class="footer_fitb__logo">
                <a href="#https://b6po9.weblium.site/"><img src="img/logo2.svg" alt="fitness club" /></a>
            </div> -->
            <p class="footer__fitb__text">
                We are a fitness club in Brooklyn with modern gym machines and group
                programs.
            </p>
            <!-- <div class="footer__fitb__links">
                <a href="https://www.facebook.com/" target="_blank" class="footer__fitb__links__fb"><img
                        src="img/facebook.svg" width="25" height="25" alt="Facebook" /></a>
                <a href="https://www.instagram.com/" target="_blank" class="footer__fitb__links__inst"><img
                        src="img/instagram.svg" width="25" height="25" alt="Instagram" /></a>
                <a href="https://twitter.com/" target="_blank" class="footer__fitb__links__tweet"><img
                        src="img/twitter.svg" width="25" height="25" alt="Tweeter" /></a>
                <a href="https://www.youtube.com/" target="_blank" class="footer__fitb__links__youtb"><img
                        src="img/youtube.svg" width="25" height="25" alt="Youtube" /></a>
            </div> -->
        </div>
        <div class="footer__navigation">
            <h3 class="footer__navigation__title">Navigation</h3>
            <ul class="footer__navigation__list">
                <li><a href="#" class="navigation__list__about-us">About Us</a></li>
                <li><a href="#" class="navigation__list__classes">Classes</a></li>
                <li>
                    <a href="#" class="navigation__list__testimonials">Testimonials</a>
                </li>
                <li><a href="#" class="navigation__list__schedule">Schedule</a></li>
            </ul>
        </div>
        <div class="footer__information">
            <h3 class="footer__information__title">Information</h3>
            <ul class="footer__information__list">
                <li>
                    <a href="#" class="information__list__trainers">Trainers</a>
                </li>
                <li>
                    <a href="#" class="information__list__perstr">Personal Training</a>
                </li>
                <li><a href="#" class="information__list__plans">Plans</a></li>
                <li><a href="#" class="information__list__blog">Blog</a></li>
            </ul>
        </div>
        <div class="footer__clients">
            <h3 class="footer__clients__title">Clients</h3>
            <ul class="footer__clients__list">
                <li>
                    <a href="#" class="clients__list__fitness-tips">Fitness Tips</a>
                </li>
                <li><a href="#" class="clients__list__faq">FAQ</a></li>
                <li>
                    <a href="#" class="clients__list__workoutprg">Workout Programs</a>
                </li>
                <li>
                    <a href="#" class="clients__list__fitness-camps">Fitness Camps</a>
                </li>
            </ul>
        </div>
        <div class="footer__form">
            <p class="footer__form__text">
                Subscribe to get the latest news from us:
            </p>
            <input type="email" class="footer__form__email" placeholder="Email*" />
            <button type="submit" class="footer__form__subskribe">
                SUBSCRIBE</button>
        </div>
    </div>
</footer>