<div class="header">
    <div class="header__introduction">
        <h1>
            GET FIT AND FEEL
            <span class="header__introduction-word">GREAT!</span>
        </h1>
        <h2 class="header__introduction-h2">
            Our professional instructors will help you stay active and healthy.
        </h2>
        <button type="button" id="myBtn" class="header__text-button">
            <!-- <img class="header_button-right-arrow" src="img/right-arrow.svg" alt="Right arrow" /> -->
            JOIN NOW
        </button>
    </div>
</div>
