<header class="header-top">
    <div class="header__contacts">
        <p class="header__contact-mail">
            E-mail:
            <a class="header__contacts-link" href="mailto:fitb@email.com">fitb@email.com</a>
        </p>
        <p class="header__contact-phone">
            Phone:
            <a class="header__contacts-link" href="tel:+1(234)5678900">
                +1 (234) 567 89 00</a>
        </p>
    </div>
    <nav class="header__nav">
        <div class="header__nav-logo">
            <a href="#">
                <img class="header_logo-img" src="img/logo.svg" alt="logo" />
            </a>
        </div>
        <div class="header__burger-icon">
        </div>
        <div class="header__horizontal-bar">
            <a routerLink="/">Home</a>
            <a routerLink="/TodoList">TodoList</a>
            <a class="navigation-link" href="#personal__training">Personal Training</a>
            <a class="navigation-link" href="schedule-table.html">Schedule</a>
            <a class="navigation-link" href="#pricing">Pricing</a>
        </div>
        <div class="header__social-links">
            <a href="https://www.facebook.com/" target="_blank" class="header__social-icon"><img
                    class="header__social-icon" src="img/facebook.svg" alt="facebook" /></a>
            <a href="https://www.instagram.com/" target="_blank" class="header__social-icon"><img
                    class="header__social-icon" src="img/instagram.svg" alt="instagram" /></a>
            <a href="https://twitter.com/" target="_blank" class="header__social-icon"><img class="header__social-icon"
                    src="img/twitter.svg" alt="twitter" /></a>
            <a href="https://www.youtube.com/" target="_blank" class="header__social-icon"><img
                    class="header__social-icon" src="img/youtube.svg" alt="youtube" /></a>
        </div>
    </nav>
    <div class="header">
        <div class="header__introduction">
            <h1>
                GET FIT AND FEEL
                <span class="header__introduction-word">GREAT!</span>
            </h1>
            <h2 class="header__introduction-h2">
                Our professional instructors will help you stay active and healthy.
            </h2>
            <button type="button" id="myBtn" class="header__text-button">
                <img class="header_button-right-arrow" src="img/right-arrow.svg" alt="Right arrow" />
                JOIN NOW
            </button>
        </div>
    </div>
</header>